* { 
    box-sizing: border-box;
}

body { 
    width: 100%;
}

.ai-score { 
    font-size: 3em;
}

.humanity-score { 
    font-size: 3em;
}
.header-img { 
        background-image: url("/imgs/robot.jpg");
        background-size: cover;
        background-attachment: fixed;
        width: 100%;
        background-position: center;
        height: 100%;
        display: flex;
    }

.btn { 

}

.pTwo{ 
    
}

 p.results{ 
    padding-top: 50px;
    text-align: center;
}
.results { 
    padding-top: 50px;
    text-align: center;
    display:flex; 
    justify-content: center;
}
.results-div { 
    display: flex; 
    font-size: 2em; 
    justify-content: center;
    align-content: center;

}
.outer-btn-container{ 
    background-image: url("/imgs/cyberpunk.avif");
    position:relative; 
    top: -100px;
    display:flex; 
    margin-top: -5px;
    flex-direction: column;
    align-content: space-evenly;
    padding-top: 100px;
    padding-bottom: 50px;
    width: 100%;
    background-color: #d4dbe3;
}

.scoreboard-div { 
    display: flex; 
    margin-top: 150px;
    text-align: center;
    font-size: 3em;
    justify-content: space-evenly;
}
.btn-container-text { 
    color: green;
    font-size: 2em;
    font-family: monospace, "Times New Roman";
    display:flex; 
    width: 100%;
    justify-content: center;
    padding-left: 118px;
    padding-right: 118px;
    padding-top: 10px;
    line-height: 1.8em
}

.story-container { 
    padding-top: 90px; 
    padding-bottom: 200px; 
}

.score-div { 
    display: flex; 
    justify-content: center;
    border: black solid 2px;
}
.btn-container { 
 display:flex;
 padding-top: 120px;
 justify-content: center;
 align-content: space-evenly;
 justify-content: space-between;
 padding-left: 118px;
 padding-right: 118px;
}

#rock { 
    background: url(imgs/rock.avif);
    background-size: cover;
    padding: 8em; 
    background-position: center;
    border: white solid 2px;
}

#paper { 
    
    border: white solid 2px;
    background: url(imgs/pexels-photo-1582782.jpeg);
    background-size: cover;
    padding: 8em; 
    background-position: center;
    
} 

#scissors { 
    border: black solid 2px;
    background: url(imgs/scissors.png);
    background-size: cover;
    padding: 8em; 
    background-position: center;
    
}