* { 
    box-sizing: border-box;
}

body { 
    padding: 0;
    margin: 0; 
}
.scoreboard-div { 
    display: flex; 
    text-align: center;
    font-size: 2em;
    justify-content: space-evenly;
}
.ai-score { 
    font-size: 3em;
    border: double white 8px;
    display:inline-block; 
    margin-top: 0;
    padding: 0.5em;

}

.humanity-score { 
    border: double white 8px;
    font-size: 3em;
    padding: 0.5em; 
    margin-bottom: 0.5em;
    margin-top: 0;
    display:inline-block;
}
.header-img { 
        background-image: url("/imgs/robot.jpg");
        background-size: cover;
        background-attachment: fixed;
        width: 100%;
        margin-top: -90px;
        background-position: center;
        height: 100%;
        display: flex;
    }

.results { 
    text-align: center;
    display:flex; 
    justify-content: center;
}
.results-div { 
    font-size: 2em; 
    justify-content: center;
    align-content: center;

}
.outer-btn-container{ 
    background-size: cover;
    background-color: #b2c4d2;
    position:relative; 
    display:flex; 
    margin-top: -5px;
    flex-direction: column;
    align-content: space-evenly;
    padding-top: 16px;
    padding-bottom: 50px;
    width: 100%;
    background-color: #d4dbe3;
}


.btn-container-text { 
    color: green;
    font-size: 2em;
    font-family: monospace, "Times New Roman";
    display:flex; 
    width: 100%;
    justify-content: center;
    padding-left: 118px;
    padding-right: 118px;
    padding-top: 10px;
    line-height: 1.8em
}

.story-container { 
    padding-top: 90px; 
    padding-bottom: 150px; 
}

.btn-container { 
 display:flex;
 padding-top: 120px;
 justify-content: center;
 align-content: space-evenly;
 justify-content: space-evenly;
 padding-left: 118px;
 padding-right: 118px;
}

#rock { 
    background: url(imgs/rock.avif);
    background-size: cover;
    padding: 8em; 
    background-position: center;
    border: black double 4px;
}

#paper { 
    
    border: black double 4px;
    background: url(imgs/pexels-photo-1582782.jpeg);
    background-size: cover;
    padding: 8em; 
    background-position: center;
    
} 

#scissors { 
    border: black double 4px;
    background: url(imgs/scissors.png);
    background-size: cover;
    padding: 8em; 
    background-position: center;
    
}